.container {
    margin-top: 3em;
}

.container__form {
    max-width: 720px;
}

.form__keluhan--container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__keluhan {
    width: 94%;
    margin-right: 10px;
}

.form__checkbox--group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 45%;
}