.container {
    margin-top: 2em;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.card {
    border: 1px solid rgba(205, 205, 205, 0.6);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.card-container {
    padding: 12px;
}

.data {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.3em;
}

.card--data:first-child {
    margin-left: 0;
}

.card--data:last-child {
    margin-right: 0;
}

.card--data--tahapan {
    flex: 1 1 18%;
    margin: 0 10px;
}

.card--data--tahapan:first-child {
    margin-left: 0;
}

.card--data--tahapan:last-child {
    margin-right: 0;
}

.card--data {
    flex: 1 1 23%;
    margin: 0 10px;
}

.lastinput p {
    margin: 0;
    text-align: center;
}

.lastDate {
    font-weight: bold;
}

.total {
    font-size: 24px;
    font-weight: bold;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total p {
    text-align: center;
    margin: 0;
}